.container {
  background-color: yellow;
  border: 5px solid grey;
  height: 170px;
  /* flex stuff */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.animal {
  padding: 10px;
}
.dog {
  border: 5px solid green;
}
.cat {
  border: 5px dashed black;
}
.fish {
  border: 5px solid red;
}