.container {
  background-color: yellow;
  border: 5px solid grey;
  height: 170px;
}
.animal {
  padding: 10px;
}
.dog {
  border: 5px solid rgb(24, 28, 24);
}
.cat {
  border: 5px dashed black;
}
.fish {
  border: 5px solid red;
}